.u-section-1 .u-sheet-1 {
  min-height: 201px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 30px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 141px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 166px;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px;
}

.u-section-1 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 137px;
  }

  .u-section-1 .u-image-1 {
    height: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 105px;
  }

  .u-section-1 .u-image-1 {
    height: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 525px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 499px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-image-1 {
    height: 307px;
  }
} .u-section-2 {
  background-image: url("https://assets.nicepagecdn.com/57acf10a/4675443/images/Tracy_Zhuo_CHORD_white.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 420px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 265px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 199px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 125px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 177px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-size: 2.25rem;
  padding: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 603px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 60px auto 26px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 527px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-image-1 {
  height: 326px;
  margin-top: 68px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 264px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 263px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 14px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 435px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    height: 269px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 217px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-4 .u-image-1 {
    height: 412px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 718px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-4 .u-image-1 {
    height: 309px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-4 .u-image-1 {
    height: 195px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 527px;
}

.u-section-5 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-5 .u-list-1 {
  width: 969px;
  grid-template-rows: repeat(2, auto);
  margin: 58px auto 38px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(6, calc(16.6667% - 8.33333px));
  min-height: 309px;
  grid-gap: 10px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 0;
}

.u-section-5 .u-image-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 0;
}

.u-section-5 .u-image-6 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-7 {
  padding: 0;
}

.u-section-5 .u-image-7 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 0;
}

.u-section-5 .u-image-8 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-9 {
  padding: 0;
}

.u-section-5 .u-image-9 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-10 {
  padding: 0;
}

.u-section-5 .u-image-10 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

.u-section-5 .u-list-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-11 {
  padding: 0;
}

.u-section-5 .u-image-11 {
  margin-top: 0;
  margin-bottom: 0;
  height: 128px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 299px;
  }

  .u-section-5 .u-image-1 {
    height: 124px;
  }

  .u-section-5 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-2 {
    height: 124px;
  }

  .u-section-5 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-3 {
    height: 124px;
  }

  .u-section-5 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-4 {
    height: 124px;
  }

  .u-section-5 .u-list-item-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-5 {
    height: 124px;
  }

  .u-section-5 .u-list-item-6 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-6 {
    height: 124px;
  }

  .u-section-5 .u-list-item-7 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-7 {
    height: 124px;
  }

  .u-section-5 .u-list-item-8 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-8 {
    height: 124px;
  }

  .u-section-5 .u-list-item-9 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-9 {
    height: 124px;
  }

  .u-section-5 .u-list-item-10 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-10 {
    height: 124px;
  }

  .u-section-5 .u-list-item-11 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-11 {
    height: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66666px));
    min-height: 939px;
  }

  .u-section-5 .u-image-1 {
    height: 190px;
  }

  .u-section-5 .u-image-2 {
    height: 190px;
  }

  .u-section-5 .u-image-3 {
    height: 190px;
  }

  .u-section-5 .u-image-4 {
    height: 190px;
  }

  .u-section-5 .u-image-5 {
    height: 190px;
  }

  .u-section-5 .u-image-6 {
    height: 190px;
  }

  .u-section-5 .u-image-7 {
    height: 190px;
  }

  .u-section-5 .u-image-8 {
    height: 190px;
  }

  .u-section-5 .u-image-9 {
    height: 190px;
  }

  .u-section-5 .u-image-10 {
    height: 190px;
  }

  .u-section-5 .u-image-11 {
    height: 190px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 1599px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
  }

  .u-section-5 .u-image-4 {
    height: 214px;
  }

  .u-section-5 .u-image-5 {
    height: 214px;
  }

  .u-section-5 .u-image-6 {
    height: 214px;
  }

  .u-section-5 .u-image-7 {
    height: 214px;
  }

  .u-section-5 .u-image-8 {
    height: 214px;
  }

  .u-section-5 .u-image-9 {
    height: 214px;
  }

  .u-section-5 .u-image-10 {
    height: 214px;
  }

  .u-section-5 .u-image-11 {
    height: 214px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3238px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    height: 269px;
  }

  .u-section-5 .u-image-2 {
    height: 269px;
  }

  .u-section-5 .u-image-3 {
    height: 269px;
  }

  .u-section-5 .u-image-4 {
    height: 269px;
  }

  .u-section-5 .u-image-5 {
    height: 269px;
  }

  .u-section-5 .u-image-6 {
    height: 269px;
  }

  .u-section-5 .u-image-7 {
    height: 269px;
  }

  .u-section-5 .u-image-8 {
    height: 269px;
  }

  .u-section-5 .u-image-9 {
    height: 269px;
  }

  .u-section-5 .u-image-10 {
    height: 269px;
  }

  .u-section-5 .u-image-11 {
    height: 269px;
  }
}